In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import seaborn as sns

In [3]:
df = pd.read_csv(r"C:\Users\seren\Downloads\csv_python.csv")
df.head()

,datas,UTC,T Inst,T Max,T Min,U Inst,U Max,U Min,PO Inst,PO Max,PO Min,P Inst,P Max,P Min,V Vel,V Dir,V Raj,Rad,precip
0,9/30/2016,0,18.1,18.1,17.9,85,85,84,15.5,15.5,15.3,1018.8,1018.8,1018.5,0.5,217,2.3,-3.52,0
1,9/30/2016,1,18.5,18.6,18.1,86,86,85,16.1,16.2,15.6,1018.9,1019,1018.8,1.7,247,3.6,-2.13,0
2,9/30/2016,2,17.9,18.5,17.8,92,92,86,16.6,16.6,16.1,1018.8,1019,1018.8,2.9,246,6.3,-3,0.4
3,9/30/2016,3,17.9,17.9,17.8,92,92,91,16.4,16.6,16.4,1018.4,1018.9,1018.4,3.2,242,8.4,-2.1,0
4,9/30/2016,4,18.0,18,17.8,87,92,87,15.9,16.5,15.8,1018.1,1018.4,1018.1,2.8,232,10.2,-1.01,0

In [7]:
df['DATETIME'] = pd.to_datetime(df['datas'].astype(str) + ' ' + df['UTC'].astype(str) + ':00')
df.set_index('DATETIME', inplace=True)
df = df.drop(columns=['datas', 'UTC'])
print(df.head())

                     T Inst T Max T Min  U Inst U Max U Min  PO Inst PO Max  \
DATETIME
2016-09-30 00:00:00    18.1  18.1  17.9      85    85    84     15.5   15.5
2016-09-30 01:00:00    18.5  18.6  18.1      86    86    85     16.1   16.2
2016-09-30 02:00:00    17.9  18.5  17.8      92    92    86     16.6   16.6
2016-09-30 03:00:00    17.9  17.9  17.8      92    92    91     16.4   16.6
2016-09-30 04:00:00    18.0    18  17.8      87    92    87     15.9   16.5

                    PO Min  P Inst   P Max   P Min V Vel V Dir V Raj    Rad  \
DATETIME
2016-09-30 00:00:00   15.3  1018.8  1018.8  1018.5   0.5   217   2.3  -3.52
2016-09-30 01:00:00   15.6  1018.9    1019  1018.8   1.7   247   3.6  -2.13
2016-09-30 02:00:00   16.1  1018.8    1019  1018.8   2.9   246   6.3     -3
2016-09-30 03:00:00   16.4  1018.4  1018.9  1018.4   3.2   242   8.4   -2.1
2016-09-30 04:00:00   15.8  1018.1  1018.4  1018.1   2.8   232  10.2  -1.01

                    precip
DATETIME
2016-09-30 00:00:00      0
2016-09-30 01:00:00      0
2016-09-30 02:00:00    0.4
2016-09-30 03:00:00      0
2016-09-30 04:00:00      0

In [22]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 0)               # adapta largura
pd.set_option('display.max_colwidth', None)
pd.set_option('display.expand_frame_repr', False)  # evita quebra por linhas

In [23]:
df.describe().T

          count         mean       std     min     25%     50%     75%     max
T Inst   6933.0    21.920366  3.862197     6.1    19.2    21.6    24.7    33.3
U Inst   6933.0    84.946776  9.609044    36.0    78.0    87.0    93.0    97.0
PO Inst  6933.0    19.148132  3.400364     1.0    17.0    19.0    22.1    26.8
P Inst   6933.0  1016.965325  5.567435  1001.2  1012.8  1016.9  1020.8  1033.0

In [25]:
df.describe().to_csv('resumo_descritivo.csv', index=True)